@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	font-family: 'Roboto', sans-serif;
}

@layer base {
	:root {
		--text: 215.3 19.3% 34.5%;
		--brush: 240 3.8% 46.1%;
		--brush-fill: 0 0% 98%;
		--form: 0 0% 98%;
		--background: 0 0% 100%;
		--foreground: 240 10% 3.9%;
		--card: 0 0% 100%;
		--card-foreground: 240 10% 3.9%;
		--popover: 0 0% 100%;
		--popover-foreground: 240 10% 3.9%;
		--primary: 213.1 93.9% 67.8%;
		--primary-foreground: 0 0% 98%;
		--secondary: 217.2 91.2% 59.8%;
		--secondary-foreground: 240 5.9% 10%;
		--muted: 240 4.8% 95.9%;
		--muted-foreground: 240 3.8% 46.1%;
		--accent: 240 4.8% 95.9%;
		--accent-foreground: 240 5.9% 10%;
		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 5.9% 90%;
		--input: 240 5.9% 90%;
		--ring: 240 5.9% 10%;
		--radius: 0.5rem;
		--chart-1: 0 90.6% 70.8%;
		--chart-2: 220 8.9% 46.1%;
		--chart-3: 212.7 26.8% 83.9%;
		--chart-4: 43 74% 66%;
		--chart-5: 27 87% 67%;
	}

	.dark {
		--text: 210 40% 96.1%;
		--brush: 25 5.3% 44.7%;
		--brush-fill: 0 0% 9%;
		--form: 0 0% 14.9%;
		--background: 0 0% 9%;
		--foreground: 0 0% 98%;
		--card: 240 10% 3.9%;
		--card-foreground: 0 0% 98%;
		--popover: 240 10% 3.9%;
		--popover-foreground: 0 0% 98%;
		--primary: 217.2 91.2% 59.8%;
		--primary-foreground: 240 5.9% 10%;
		--secondary: 221.2 83.2% 53.3%;
		--secondary-foreground: 0 0% 98%;
		--muted: 240 3.7% 15.9%;
		--muted-foreground: 240 5% 64.9%;
		--accent: 0 0% 3.9%;
		--accent-foreground: 0 0% 98%;
		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 0 0% 98%;
		--border: 240 3.7% 15.9%;
		--input: 240 3.7% 15.9%;
		--ring: 240 4.9% 83.9%;
		--chart-1: 0 73.7% 41.8%;
		--chart-2: 25 5.3% 44.7%;
		--chart-3: 0 0% 83.1%;
		--chart-4: 280 65% 60%;
		--chart-5: 340 75% 55%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
}

.custom-date-picker {
	background-color: #f3f4f6; /* Light gray */
	border: 1px solid #d1d5db; /* Border color */
	border-radius: 6px;
	padding: 8px 12px;
	color: #374151; /* Text color */
	font-size: 14px;
	outline: none;
	transition: all 0.2s ease;
}

.custom-date-picker:hover {
	background-color: #e5e7eb; /* Darker gray on hover */
}

.custom-date-picker:focus {
	border-color: #2563eb; /* Blue border */
	box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.4); /* Blue shadow */
}

.custom-date-picker::-webkit-calendar-picker-indicator {
	filter: invert(30%) sepia(60%) saturate(500%) hue-rotate(200deg);
}
